$fontFamily:  arial, sans-serif;
$baseColor : #646d77;
$baseColorHover : #646d77;
$ctextColor : #646d77;
$titleSize : 1.2em;
$bodyBackground : #fff;
$bodyFontSize : 18px;
$container : 960px;
$minContainer : 320px;
$successColor: #43cda1;
$dangerColor: #e33b27;

/*buttons*/
$buttonHeight: 40px;
$buttonColor : rgb(138, 0, 78);
$buttonColorHover : #a4025e;
$buttonText : #fff;
